.button_twitter{
  width : 100%;
  min-width : 200px;
  font: bold 11px Arial white;
  text-decoration: none;
  text-align : center;
  background-color: #4099FF;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
.button_facebook{
  width : 100%;
  min-width : 200px;
  font: bold 11px Arial white;
  text-decoration: none;
  text-align : center;
  background-color: #3b5998;
  color: #FFFFFF;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.button_basheisti{
  width : 100%;
  min-width : 200px;
  font: bold 11px Arial white;
  text-decoration: none;
  text-align : center;
  background-color : #E8CCCC;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
 /* iPads (landscape) and desktop ---------- */
@media only screen
and (min-width : 990px)
{
.button_facebook, .button_twitter, .button_basheisti{
line-height : 52px;
max-height : 50px;
font-size : 50px;
overflow : auto;
padding : 1px;
}
.button-basheisti:before {
	content: "\e606";
}
.button-facebook:before {
	content: "\e601";
}
.button-googleplus:before {
	content: "\e602";
}
.button-twitter:before {
	content: "\e603";
}
[class^="button-"] .to-hide, [class*=" button-"] .to-hide{display : none}
}
