.navbar-basheisti {
    background: -webkit-linear-gradient(#232323, #3a3a3a,#232323); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#232323, #3a3a3a,#232323); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#232323, #3a3a3a,#232323); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#232323, #3a3a3a,#232323); /* Standard syntax */ 
    border-color: #e7e7e7;
	padding : 10px 5px;
}


.navbar-basheisti .navbar-text ,.navbar-basheisti .header-link,.navbar-basheisti .header-link > li > a, .header-searcher a{
    color: #999;
	font-size : 18pt;
	margin : 0px 5px;
	cursor : pointer;
}
.navbar-basheisti .navbar-nav > li > a:hover, .navbar-basheisti .navbar-nav > li > a:focus , .header-searcher a:hover, .header-searcher a:focus,.navbar-basheisti .header-link:hover, .navbar-basheisti .header-link:focus{
    background-color: transparent;
	text-decoration : none;
    color: #E8E8E8;
}
.header-searcher {
	line-height: 24px;
    padding: 0px;
    display: inline-flex;
}
.header-searcher a{
	display : inline-block;
}
@media only screen
and (max-width : 440px)
{
.only-large{display:none;}
}