      <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/style/swag.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_form.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_button.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_header.css" type="text/css" rel="stylesheet" />
<link href="/BasheistIcons/style.css" type="text/css" rel="stylesheet" />		
<link rel="shortcut icon" href="/icons/mainpage.ico" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <title>Basheisti - Violence et petits chats</title>
    </head>

    <body class="container-fluid">
	<nav class=" navbar-basheisti" role="navigation">
		<div class="">
			<a class="header-link" href="/bashing"><span class="icon-basheisti"></span></a>
			<a class="header-link" href="/bashistory" title="Derniers bash"><span class="icon-history"></span></a>
			<a class="header-link" href="/random"  title="Un bash au hasard"><strong>?</strong></a>
				<form class="header-searcher only-large" action="/bashsearch" id="search_form" method="post">
					<div class="form-group only-large">
						<input type="text" name="search_name" class=" only-large" maxlength="15" placeholder="Search by name ...">
					</div>
					<a onclick="document.getElementById('search_form').submit();" title="Chercher par nom" class=""><span class="icon-search"></span></a>
				</form>
				<a class="header-link" class="navbar-right only-large" title="Github" href="https://github.com/EKlevrai/BashEistisisiazerty"><span class="icon-github"></span></a>
		</div><!-- /.container-fluid -->
	</nav>
	
	

	
	
		<div class="Header col-md-12 container-fluid"></div>
		<div class="TheContainerOfDoomedKitten col-md-12 container-fluid">
		<script type="text/javascript">
sa_client = "a3367a2bd1f8ac8711b82d0fcc074fa6";
sa_code = "f556833b714a17082464ccfb9fbea8dc";
sa_protocol = ("https:"==document.location.protocol)?"https":"http";
sa_pline = "3";
sa_maxads = "4";
sa_bgcolor = "FFCCCC";
sa_bordercolor = "CCCCCC";
sa_superbordercolor = "000000";
sa_linkcolor = "001EB5";
sa_desccolor = "000000";
sa_urlcolor = "001EB5";
sa_b = "0";
sa_format = "banner_728x90_4";
sa_width = "728";
sa_height = "90";
sa_location = "0";
sa_radius = "0";
sa_borderwidth = "1";
sa_font = "2";
document.write(unescape("%3cscript type='text/javascript' src='"+sa_protocol+"://sa.entireweb.com/sense.js'%3e%3c/script%3e"));
</script>

			<form action="/bashing" method="post">
				<div class="col-md-6">Son nom</div>
				<div class="col-md-6"><input type="text" name="form_name" id="form_name" maxlength="15" value="Thibault"/></div>
				<div class="col-md-6">une insulte</div>
				<div class="col-md-6"><input type="text" name="form_insulte" id="form_insulte" maxlength="15" value="une merde"/></div>
				<div class="col-md-6">une recommendation</div>
				<div class="col-md-6"><input type="text" name="form_recommended_action" id="form_recommended_action" maxlength="40" value="fermer ta gueule"  /></div>
				<div class="col-md-6">une personne qui partage votre avis</div>
				<div class="col-md-6"><input type="text" name="form_mec_d_accord" id="form_mec_d_accord" maxlength="15" value="terrade" /></div>
				<div class="col-md-6">la proportion de gens qui le detestent</div>
				<div class="col-md-6"><input type="text" name="form_proportion" id="form_proportion" maxlength="20" value="la moiti&eacute;" /></div>
				<div id="the-story" class="col-md-12">histoire</div>
				<div class="col-md-6">la chose qu'il a faite</div>
				<div class="col-md-6"><input type="text" name="form_capacity" id="form_capacity" maxlength="80" value="pleurer" /></div>
				<div class="col-md-6">contexte</div>
				<div class="col-md-6"><input type="text" name="form_context" id="form_context" maxlength="15" value="Bonizec" /></div>
				<div class="col-md-6">il vous reproche</div>
				<div class="col-md-6"><input type="text" name="form_reproche" id="form_reproche" maxlength="80" value="ne pas vouloir te donner la moyenne" /></div>
				<div class="col-md-6">pourquoi l'avez-vous fait?</div>
				<div class="col-md-6"><input type="text" name="form_cause" id="form_cause" maxlength="80" value="tu n'as rien branl&eacute; et que je me tape tout derri&egrave;re" /></div>
                <button class="button_swag button_basheisti col-md-3" type="submit" title="Generate hate" value="Generate hate">
					<span class="button-basheisti"><span class="to-hide">Generate hate</span></span>
				</button>
				<button class="popup button_swag button_twitter col-md-3" title="Follow @Basheisti on Twitter" data-url="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fbash.faucheisti.eu%2Fbashing&region=follow_link&screen_name=Basheisti&tw_p=followbutton&variant=2.0" data-newwindow="true">
					<span class="button-twitter"><span class="to-hide">Follow @Basheisti</span></span>
				</button>
				<button class="col-md-3 button_swag popup button_facebook"  title="Like Basheisti on Facebook" data-url="https://www.facebook.com/BashEisti" data-newwindow="false">
					<span class="button-facebook"><span class="to-hide">Like Basheisti</span></span>
				</button>
				<button class="col-md-3 button_swag popup button_paypal"  title="Donate via Paypal" data-url="https://www.facebook.com/BashEisti" data-newwindow="false">
					<span class="button-paypal"><span class="to-hide">Donate</span></span>
				</button>
			</form>			
		</div>
		<script src="http://coinwidget.com/widget/coin.js"></script>
<script>
CoinWidgetCom.go({
	wallet_address: "3AsnDQV1QeArSHhZse3SKjsfh4qG6WJxUX"
	, currency: "bitcoin"
	, counter: "count"
	, alignment: "bl"
	, qrcode: true
	, auto_show: false
	, lbl_button: "Donate"
	, lbl_address: "My Bitcoin Address:"
	, lbl_count: "donations"
	, lbl_amount: "BTC"
});
</script>
	</body><script src="/front/popup.js"></script>