      <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/style/swag.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="/style/icon.ico" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <title>Violence et petits chats</title>
    </head>

    <body class="container-fluid">
		<div class="Header col-md-12 container-fluid"></div>
		<div class="TheContainerOfDoomedKitten col-md-12 container-fluid">
			<form action="/bashing" method="post">
				<div class="col-md-6">Son nom</div>
				<div class="col-md-6"><input type="text" name="form_name" id="form_name" value="Thibault"/></div>
				<div class="col-md-6">une insulte</div>
				<div class="col-md-6"><input type="text" name="form_insulte" id="form_insulte" value="une merde"/></div>
				<div class="col-md-6">une recommendation</div>
				<div class="col-md-6"><input type="text" name="form_recommended_action" id="form_recommended_action" value="fermer ta gueule"  /></div>
				<div class="col-md-6">une personne qui partage votre avis</div>
				<div class="col-md-6"><input type="text" name="form_mec_d_accord" id="form_mec_d_accord" value="terrade" /></div>
				<div class="col-md-6">la proportion de gens qui le detestent</div>
				<div class="col-md-6"><input type="text" name="form_proportion" id="form_proportion" value="la moiti&eacute;" /></div>
				<div id="the-story" class="col-md-12">histoire</div>
				<div class="col-md-6">la chose qu'il a faite</div>
				<div class="col-md-6"><input type="text" name="form_capacity" id="form_capacity" value="pleurer" /></div>
				<div class="col-md-6">contexte</div>
				<div class="col-md-6"><input type="text" name="form_context" id="form_context" value="Bonizec" /></div>
				<div class="col-md-6">il vous reproche</div>
				<div class="col-md-6"><input type="text" name="form_reproche" id="form_reproche" value="ne pas vouloir te donner la moyenne" /></div>
				<div class="col-md-6">pourquoi l'avez-vous fait?</div>
				<div class="col-md-6"><input type="text" name="form_cause" id="form_cause" value="tu n'as rien branl&eacute; et que je me tape tout derri&egrave;re" /></div>
                <input class="unleash-the-bash" type="submit" value="Generate hate" />
			</form>
		</div>
</body>