      <!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/style/swag.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_form.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_button.css" type="text/css" rel="stylesheet" />
<link href="/style/swag_header.css" type="text/css" rel="stylesheet" />
<link href="/BasheistIcons/style.css" type="text/css" rel="stylesheet" />		
<link rel="shortcut icon" href="/icons/mainpage.ico" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <title>Violence et petits chats</title>
    </head>

    <body class="container-fluid">
	<nav class=" navbar-basheisti" role="navigation">
		<div class="">
			<a class="header-link" href="/bashing"><span class="icon-basheisti"></span></a>
			<a class="header-link" href="/bashistory" title="Derniers bash"><span class="icon-history"></span></a>
			<a class="header-link" href="/random"  title="Un bash au hasard"><strong>?</strong></a>
				<form class="header-searcher only-large" action="/bashsearch" id="search_form" method="post">
					<div class="form-group only-large">
						<input type="text" name="search_name" class=" only-large" placeholder="Search by name ...">
					</div>
					<a onclick="document.getElementById('search_form').submit();" title="Chercher par nom" class=""><span class="icon-search"></span></a>
				</form>
				<a class="header-link" class="navbar-right only-large" title="Github" href="https://github.com/EKlevrai/BashEistisisiazerty"><span class="icon-github"></span></a>
		</div><!-- /.container-fluid -->
	</nav>
	
	

	
	
		<div class="Header col-md-12 container-fluid"></div>
		<div class="TheContainerOfDoomedKitten col-md-12 container-fluid">
			<form action="/bashing" method="post">
				<div class="col-md-6">Son nom</div>
				<div class="col-md-6"><input type="text" name="form_name" id="form_name" value="Thibault"/></div>
				<div class="col-md-6">une insulte</div>
				<div class="col-md-6"><input type="text" name="form_insulte" id="form_insulte" value="une merde"/></div>
				<div class="col-md-6">une recommendation</div>
				<div class="col-md-6"><input type="text" name="form_recommended_action" id="form_recommended_action" value="fermer ta gueule"  /></div>
				<div class="col-md-6">une personne qui partage votre avis</div>
				<div class="col-md-6"><input type="text" name="form_mec_d_accord" id="form_mec_d_accord" value="terrade" /></div>
				<div class="col-md-6">la proportion de gens qui le detestent</div>
				<div class="col-md-6"><input type="text" name="form_proportion" id="form_proportion" value="la moiti&eacute;" /></div>
				<div id="the-story" class="col-md-12">histoire</div>
				<div class="col-md-6">la chose qu'il a faite</div>
				<div class="col-md-6"><input type="text" name="form_capacity" id="form_capacity" value="pleurer" /></div>
				<div class="col-md-6">contexte</div>
				<div class="col-md-6"><input type="text" name="form_context" id="form_context" value="Bonizec" /></div>
				<div class="col-md-6">il vous reproche</div>
				<div class="col-md-6"><input type="text" name="form_reproche" id="form_reproche" value="ne pas vouloir te donner la moyenne" /></div>
				<div class="col-md-6">pourquoi l'avez-vous fait?</div>
				<div class="col-md-6"><input type="text" name="form_cause" id="form_cause" value="tu n'as rien branl&eacute; et que je me tape tout derri&egrave;re" /></div>
                <button class="button_basheisti col-md-4" type="submit" title="Generate hate" value="Generate hate">
					<span class="button-basheisti"><span class="to-hide">Generate hate</span></span>
				</button>
				<button class="popup button_twitter col-md-4" title="Follow @Basheisti on Twitter" data-url="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fbash.faucheisti.eu%2Fbashing&region=follow_link&screen_name=Basheisti&tw_p=followbutton&variant=2.0" data-newwindow="true">
					<span class="button-twitter"><span class="to-hide">Follow @Basheisti</span></span>
				</button>
				<button class="col-md-4 popup button_facebook"  title="Like Basheisti on Facebook" data-url="https://www.facebook.com/BashEisti" data-newwindow="false">
					<span class="button-facebook"><span class="to-hide">Like Basheisti</span></span>
				</button>
			</form>
			
		</div>
	</body><script src="/front/popup.js"></script>